*.py linguist-detectable=true
*.TeX linguist-detectable=false
*.html linguist-detectable=false
build/* linguist-vendored
dist/* linguist-vendored
*.sty linguist-detectable=false
*.cls linguist-detectable=false
